@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --more-transparent-white: hsla(0, 0%, 100%, 0.6);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--main-background);
  color: var(--transparent-white);
  font-family: "Inter", sans-serif;
}

.card {
  margin: 5rem auto;
  text-align: center;
  background-color: var(--card-background);
  width: 21rem;
  height: 100%;
  border-radius: 1rem;
  position: relative;
}

.card__img {
  background: url("images/image-header-mobile.jpg") no-repeat center top;
  background-size: cover;
  background-color: var(--accent);
  background-blend-mode: multiply;
  height: 250px;
  border-radius: 1rem 1rem 0 0;
}

.card__content {
  padding: 2rem;
}

.card__title {
  margin-top: 1rem;
  font-size: 1.7rem;
  color: var(--white);
}

.card__title-accent {
  color: var(--accent);
}

.card__text {
  margin-top: 1rem;
  font-size: 0.95rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.card__stats {
  margin-top: 1rem;
}

.card__stats h2 {
  margin-top: 2rem;
  color: white;
}

.card__stats h3 {
  margin-top: 0.35rem;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.72rem;
  color: var(--more-transparent-white);
  letter-spacing: 0.12rem;
}
